.login-panel{
	border: 1px solid #dddddd;
	border-radius: 2px;
	position: fixed;
	right: 50px;
	bottom: 30px;
	padding: 10px;
	height: 40px;
	top: 9px;
	left: 970px;
	width: 70px;
	background-color: gray;
}