<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<title>
			{% block title %}
			{% endblock %}
			
		</title>

   </head>
	
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ url_for('index') }}">Flask</a>
				<a class="navbar-brand" href="{{ url_for('posts.posts_list') }}">Blog</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					
					{% if current_user.has_role('admin') %}
						<li class="nav-item">
						  <a class="nav-link" href="{{ url_for('posts.post_create')}}">+ New Post</a>
						</li>
						
						<li class="nav-item">
						  <a class="nav-link" href="/admin"> Admin</a>
						</li>
						
						
					{% endif %}
					{% if current_user.is_authenticated %}
						<li class="nav-item">
						  <a class="nav-link" href="{{ url_for('security.logout') }}"> Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
						  <a class="nav-link" href="{{ url_for('security.login') }}"> Login</a>
						</li>
					{% endif %}
				  </ul>
				  <form class="d-flex" role="search" method="GET">
					<input class="form-control me-2" type="search" placeholder="Search" name="q">
					<button class="btn btn-outline-success" type="submit">Search</button>
				  </form>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-8 mx-auto">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		
		


    </body>
</html>
