{% extends 'base.html' %}

{% block title %}	
	Create new Post
{% endblock %}

{% block content %}	
	<h1>Create new Post </h1>
	<form action="{{ url_for('posts.post_create') }}" method="POST">
		{% for field in form %}
			<div class="form-group">
				{{ field.label() }}
				{{ field(class='form-control') }}
			</div>
		{% endfor %}
		<button class="btn btn-primay">Salvar</button>
		
	</form>
	
{% endblock %}