{% extends 'base.html' %}

{% block title %}	
	posts list
{% endblock %}

{% block content %}	
	<h1>Posts </h1>
	{% for post in posts %}	
		<div class="card mb-4">
		  <div class="card-header">
			{{ post.created.date() }}
		  </div>
		  <div class="card-body">
			<h5 class="card-title">
				<a href="{{ url_for('posts.post_detail', slug=post.slug) }}">
					{{ post.title }}
				</a>
			</h5>
			<p class="card-text">{{ post.body }}</p>
			<a href="{{ url_for('posts.post_detail', slug=post.slug) }}" class="btn btn-light">Go somewhere</a>
		  </div>
		  
		</div>
		{% if post.tags.count() %}
			<div class="card-footer text-muted">
				{% for tag in posts.tags %}
					<span class="badge badge-info">{{tag.title}}</span>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	
{% endblock %}